<section class="intro">
    A long time ago, in a galaxy far,<br> far away....
  </section>
  
  <section class="logo">
      <p>sTar<br>quiz</p>
  </section>
  
  <div id="board">  
      <div id="content">
        <p id="title">Episode I</p>
        <p id="subtitle">PROVE YOUR STRENGTH</p>
        <br>
        
        <p>Do you know the Star Wars characters?</p>
        <p>Yes? Then show us!</p>
        <p>With this quiz you have the opportunity to identify the main characters of Star-wars, score points and become an expert in the wonderful film series!</p>    
        <br>
        <p>You will have only 2 minutes to fill in the name of all the featured characters.</p>
        <p>Every right answer will give you 10 points.</p>
        <p>If you have trouble, click on the '...' button to have a clue. But your answer will value only 5 points</p>
        <p>But if the Strenght is beside you, click on the '?' button to fill the answer.</p>
        <br>
        <p>May the Strength be with you...</p>
      </div>  
    </div>
    <audio preload="auto" autoplay>
        <source src="../../assets/audio/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">
      </audio>
      