<div class="char-info">
    <div class="close">
        <i (click)="close()" class="far fa-times-circle"></i>
    </div>
    <img src="../../assets/characters/dt-vader.png" class="character">
    <div class="info">
        <p class="question">Height: <span class="answer">{{ character.height }}</span></p>
        <p class="question">Mass: <span class="answer">{{ character.mass }}</span></p>
        <p class="question">Hair: <span class="answer">{{ character.hair_color }}</span></p>
        <p class="question">Skin: <span class="answer">{{ character.skin_color }}</span></p>
        <p class="question">Eye: <span class="answer">{{ character.eye_color }}</span></p>
        <p class="question">Birth year: <span class="answer">{{ character.birth_year }}</span></p>
        <p class="question">Gender: <span class="answer">{{ character.gender }}</span></p>
    </div>
    <div class="info">
        <p class="question">Homeworld: <span class="answer">{{ character.homeworld }}</span></p>
        <p class="question">Films: <span class="answer">{{ character.films }}</span></p>
        <p class="question">Species: <span class="answer">{{ character.species }}</span></p>
        <p class="question">Vehicles: <span class="answer">{{ character.vehicles }}</span></p>
        <p class="question">Starships: <span class="answer">{{ character.starships }}</span></p>
    </div>
</div>