.character-list {
    max-width: 1100px;
}
.character-box {
    margin: 3% auto auto 3%;
    width: 175px;
    height: 175px;
    text-align: center;
    border-radius: 10px;
    border-color: #ffe919;  
    border-style: solid;
    color: #fff;
    display: inline-block;
    max-width: 200px;
}



.character-box:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
}

.green {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0F0, 0 0 35px #0F0, 0 0 40px #0F0, 0 0 50px #0F0, 0 0 75px #0F0;
    font-size: 2em;
}

.red {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0000, 0 0 35px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 75px #FF0000;
    margin-left: 25%;
    font-size: 2em;
}

.character-box:hover .green {
    -webkit-animation: neonGreen 1.5s ease-in-out infinite alternate;
    -moz-animation: neonGreen 1.5s ease-in-out infinite alternate;
    animation: neonGreen 1.5s ease-in-out infinite alternate;
    
}

.character-box:hover .red {
    -webkit-animation: neonRed 1.5s ease-in-out infinite alternate;
    -moz-animation: neonRed 1.5s ease-in-out infinite alternate;
    animation: neonRed 1.5s ease-in-out infinite alternate;
}

.option {
    cursor: pointer;
}

.done {
    z-index: 99999;
    position: fixed;
    width: 169px;
    height: 169px;
    border-radius: 6px;
    background-color: rgba(0,255,0 , 0.6);
}

.wrong {
    z-index: 99999;
    position: fixed;
    width: 169px;
    height: 169px;
    border-radius: 6px;
    background-color: rgba(255,0,0 , 0.6);
}

app-char-info {
    position: absolute;
    height: 26em;
    width: 67em;
    display: none;
    z-index: 999999;
}

.show-info {
    display: block;
}

.hide-info {
    display: none;
}

app-logo {
    font-size: 5em;
    position: absolute;
    margin-left: -10%;
    margin-top: -2%;
}

@-webkit-keyframes neonGreen {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0F0, 0 0 70px #0F0, 0 0 80px #0F0, 0 0 100px #0F0, 0 0 150px #0F0;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0F0, 0 0 35px #0F0, 0 0 40px #0F0, 0 0 50px #0F0, 0 0 75px #0F0;
    }
}

@-webkit-keyframes neonRed {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}
  
  